.Notification {
    position: fixed;
    top: 15px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    transform: translateX(0);
    animation: moving 3.5s both;
    overflow: hidden;
    padding: 9px 45px;
    background: #445e8f;
    color: #fff;
    border-radius: 3px;
    font-size: 20px;
}

@keyframes moving {
    0% {
        transform: translateX(100%);
    }
    20% {
        transform: translateX(-10%);
    }

    30% {
        transform: translateX(-2%);
    }

    70% {
        transform: translateX(-2%);
    }

    100% {
        transform: translateX(100%);
    }
}
