.Button {
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #7c8eb0;
    outline: none;

    &:hover,
    &:focus,
    &:active {
        outline: none;
        cursor: pointer;
    }
}
