.Modal {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background: #232323a1;

  &-Title {
    margin-bottom: 30px;
    font-size: 20px;
    color: #FFF;
  }

  &-Input {
    margin-bottom: 15px;
  }

  &-Content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background: #1d2d4d;
  }
}