@import "mixins";

html {
  * {
    box-sizing: border-box;
  }
  height: 100%;
}

html, body {
  padding: 0;
  margin: 0;
}

.container {
  width: 800px;
  margin: 30px auto 0;
}

ul {
  @include unstyledList;
  li {
    padding-left: 15px;
  }
}

.NotificationList {
  position: fixed;
  right: 0;
  top: 0;
}